html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100%;
}
.title {
  margin: 0;
  padding: 1em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: bolder;
  text-decoration: underline;
}

/* change body image */
body {
  text-align: center;
  background: radial-gradient(
        circle farthest-side at 0% 50%,
        #fb1 23.5%,
        rgba(240, 166, 17, 0) 0
      )
      21px 30px,
    radial-gradient(
        circle farthest-side at 0% 50%,
        #b71 24%,
        rgba(240, 166, 17, 0) 0
      )
      19px 30px,
    linear-gradient(
        #fb1 14%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 85%,
        #fb1 0
      )
      0 0,
    linear-gradient(
        150deg,
        #fb1 24%,
        #b71 0,
        #b71 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #b71 0,
        #b71 76%,
        #fb1 0
      )
      0 0,
    linear-gradient(
        30deg,
        #fb1 24%,
        #b71 0,
        #b71 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #b71 0,
        #b71 76%,
        #fb1 0
      )
      0 0,
    linear-gradient(90deg, #b71 2%, #fb1 0, #fb1 98%, #b71 0%) 0 0 #fb1;
  background-size: 40px 60px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* change container from both todo and not todo to make it one container elemetn */

.container {
  padding: 2em 2.5em;
  margin-left: auto;
  margin-right: auto;
  background-color: #f1f8f3;
  box-shadow: 0 1em 2em #000a;
  border-radius: 0.8em;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  text-align: center;
}

.txt {
  border-radius: 0.5em;
  border-color: #000;
  font-size: 1.2em;
}

.btn {
  border-radius: 0.5em;
  border-color: #eecda8;
  background-color: #eecda8;
  font-size: 1.2em;
  color: #fff;
  font-weight: bold;
}
.btn:hover {
  opacity: 0.5;
}

.btn:active {
  opacity: 1;
}

.todo {
  padding: 1.5em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0 1em 2em #000a;
  border-radius: 0.8em;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* change css to make it simpler */

/* .todo,
.actions {
  display: flex;
  justify-content: space-between;
} */

.taskings {
  border: 5px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10%;
}

.pendings {
  color: black;
}
